<%= form_for(@alumnos, :html =>{:role => 'form'}) do |f| %>
    <% if @alumnos.errors.any? %>
        <%= pluralize(@alumnos.errors.count, "ERROR")%>
        <% @alumnos.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="field">
      <b><%= "Nombre: "%></b>
      <%= f.text_field :nombre %><br><br>
    </div>
    <div class="field">
      <b><%= "Sexo: "%></b>
      <%= f.select :sexo, [["MASCULINO"],["FEMENINO"]]%><br><br>
    </div>
    <div class="field">
      <b><%= "Plan: "%></b>
      <%=f.collection_select :plan_id, Plan.order("Nombre"), :id, :nombre, include_blank: true %>
    </div><br><br>
    <%= f.submit value="AGREGAR", class: "btn btn-success"%>
    <%= link_to "REGRESAR", Alumno, class: "btn btn-primary"%>
<% end %>
