<%= form_for(@alumnos, :html =>{:role => 'form'}) do |f| %>
    <% if @alumnos.errors.any? %>
        <%= pluralize(@alumnos.errors.count, "ERROR")%>
        <% @alumnos.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="container">
      <div class="panel-group">
      <big><b>
        <div class="panel-body">
          NOMBRE: 
          <%= f.text_field :nombre %><br>
        </div>
        <div class="panel-body">
          RUT: 
        <%= f.text_field :rut %><br>
      </div>
      <div class="panel-body">
        SEXO: 
        <%= f.select :sexo, [["MASCULINO"],["FEMENINO"]]%><br>
      </div>
      <div class="panel-body">
        PLAN: 
        <%=f.collection_select :plan_id, Plan.order("Nombre"), :id, :nombre, include_blank: true %><br>
      </div>
      </b></big>
      </div>
      <%= f.submit value="AGREGAR", class: "btn btn-success"%>
      <%= link_to "REGRESAR", Alumno, class: "btn btn-primary"%>
    </div>
<% end %>
