<%= form_for(@alumnos, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container"><big>
    <div class="panel-body">
      <% if @alumnos.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @alumnos.errors.count == 1 %>
            <h2><%= pluralize(@alumnos.errors.count, "Error")%><%= " impide realizar esta acción: "%></h2>
            <ul>
              <% @alumnos.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@alumnos.errors.count, "Errore")%><%= " impiden realizar esta acción: "%></h2>
            <ul>
              <% @alumnos.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Nombre:</label></b>
        <i><%= f.text_field :nombre, placeholder: "Nombre Completo" %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Rut:</label></b> 
        <i><%= f.text_field :rut, placeholder: "XXXXXXX-X" %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Edad:</label></b>
        <i><%= f.text_field :edad, placeholder: "Ejemplo: 15" %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Genero:</label></b>
        <i><%= f.select :sexo, [["Masculino"], ["Femenino"]] %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3"><%= f.label "Plan:" %></label></b>
        <!-- FILTRAR CUANDO SE PONGA EDITAR COLOCAR UN PLAN DEL MISMO PRECIO DEL CASO CONTRARIO NO SE PODRA EDITAR EL PLAN -->
        <i><%=f.collection_select :plan_id, Plan.order("Nombre"), :id, :nombre, include_blank: true %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Fecha De Pago:</label></b>
        <i><%= f.select :diapago, [["1"],["2"],["3"],["4"],["5"],["6"],["7"],["8"],["9"],["10"],["11"],["12"],["13"],["14"],["15"],["16"],["17"],["18"],["19"],["20"],["21"],["22"],["23"],["24"],["25"],["26"],["27"]] %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">¿Complicación Medica?:</label></b>
        <i><%= f.text_area :desc, size: "30x6", placeholder: "En caso de tener algun problema" %></i>
      </div>
    </div>
    <%= f.submit value="Guardar", class: "btn btn-success" %>
    <input type="reset" class="btn btn-default" value="Limpiar">
    <%= link_to "Volver", Alumno, class: "btn btn-primary" %>
  </div>
  <br><br>
<% end %>