<%= form_for(@alumnos, :html =>{:role => 'form'}) do |f| %>
    <% if @alumnos.errors.any? %>
        <%= pluralize(@alumnos.errors.count, "ERROR")%>
        <% @alumnos.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="field">
      <%= "Nombre: "%>
      <% f.label :nombre %>
      <%= f.text_field :nombre %><br><br>
    </div>
    <div class="field">
      <%= "Sexo: "%>
      <% f.label :sexo %>
      <%= f.select :sexo, [["MASCULINO"],["FEMENINO"]]%><br><br>
    </div>
    <div class="field">
      <%= "Plan: "%>
      <%f.label :plan_id %>
      <%=f.collection_select :plan_id, Plan.order("Nombre"), :id, :nombre, include_blank: true %>
    </div><br><br>
    <%= f.submit value="AGREGAR"%>
    <%= link_to "REGRESAR", Alumno, class: "btn btn-default"%>
<% end %>
