<%= form_for(@alumnos, :html =>{:role => 'form'}) do |f| %>
  <% if @alumnos.errors.any? %>
    <%= pluralize(@alumnos.errors.count, "Error")%>
    <% @alumnos.errors.full_messages.each do |actual| %>
        <%= actual %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="form-group">
      <big><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Nombre:</label></b>
        <i><%= f.text_field :nombre, placeholder: "Nombre Completo"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Rut:</label></b> 
        <i><%= f.text_field :rut, placeholder: "XXXXXXX-X"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Genero:</label></b>
        <i><%= f.select :sexo, [["Masculino"], ["Femenino"]]%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Plan:</label></b>
        <i><%=f.collection_select :plan_id, Plan.order("Nombre"), :id, :nombre, include_blank: true %></i><br>
      </div>
      </big>
    </div>
    <%= f.submit value="Agregar", class: "btn btn-success"%>
    <input type="reset" class="btn btn-default" value="Limpiar">
    <%= link_to "Regresar", Alumno, class: "btn btn-primary"%>
  </div>
<% end %>
