<div class="container">
  <h1><b><%= "Alumnos/as" %></b></h1>
  <span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nuevo/a Alumno/a',nuevo_alumno_path %></span>
  <!-- boton buscar aun no configurado
  <a href="#Buscar" class="btn btn-default btn-lg" data-toggle="modal">Buscar</a>
  <div class="modal fade" id="Buscar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Buscar</b></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <table class="table">
    <thead>
      <tr>
        <th>Nombre Alumno/a</th>
        <th>Plan</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% @alumnos.each do |actual| %>
        <tr>
          <td><b><%= link_to(actual.nombre, actual) %></b></td>
          <td><b><%= actual.plan.nombre %></b></td>
          <td><b><%= actual.created_at.strftime("%d")%></b></td>
          <td><%= link_to 'Editar', editar_alumno_path(actual), class: "btn btn-info"%></td>
          <% if can? :eliminar, Alumno %>
            <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>
  <br><br>
  <%= will_paginate @alumnos, renderer: BootstrapPagination::Rails %>
</div>