<div class="container">
  <% suma = 0 %>
  <% @alumnos.each do |a| %>
    <% suma = suma + 1 %>
  <% end %>
  <h1><b><%= "Alumnos/as" %></b></h1>
  <% cont = 0 %>
  <% @plans.each do |x| %>
    <% cont = cont + 1 %>
  <% end %>
  <% if cont == 0 %>
    <b><p class="text-danger">**PARA CREAR NUEVOS ALUMNOS/AS PRIMERO CREAR UN PLAN**</p></b>
    <%= link_to 'Nuevo Plan', nuevo_plan_path, class: "btn btn-danger btn-lg" %>
  <% else %>
    <h4><b><p class="text-warning"> Total Alumnos/as: <%= suma %></p></b></h4>
    <a href="#Inst" class="btn btn-primary btn-lg" data-toggle="modal">Instrucciones</a>
    <div class="modal fade" id="Inst">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title"><b><p class="text-info"> Instrucciones: </p></b></h2>
            <h5>
              <b><p class="text-success"> 1.- Para 'Ver' la informacion de un alumno/a en detalle, presionar sobre el nombre de el/la alumno/a </p></b>
              <b><p class="text-success"> 2.- Para 'Editar' la informacion de un alumno/a, presionar sobre el boton 'Editar' </p></b>
              <b><p class="text-success"> 3.- Para 'Agregar' un/a nuevo/a alumno/a, presionar sobre el boton 'Nuevo/a Alumno/a' </p></b>
              <b><p class="text-danger"> 4.- Para 'Borrar' un/a alumno/a, presionar sobre el boton 'Borrar' </p></b>
            </h5>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Nuevo Alumno', nuevo_alumno_path, class: "btn btn-warning btn-lg" %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre Alumno/a</th>
        <th>Plan</th>
        <th>Fecha De Pago</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @alumnos.order(:diapago).each do |actual| %>
        <tr>
          <td><b><%= link_to(actual.nombre, actual) %></b></td>
          <td><b><%= actual.plan.nombre %></b></td>
          <td><b><%= actual.diapago %></b></td>
          <td><%= link_to 'Mostrar', alumno_url(actual), class: "btn btn-success" %>
          <%= link_to 'Editar', editar_alumno_path(actual), class: "btn btn-info" %>
          <%= link_to 'Borrar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
         </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <br><br>
  <%= will_paginate @alumnos, renderer: BootstrapPagination::Rails %>
</div>