<h1><%= @alumnos.nombre %></h1><br>
Sexo:
<%= @alumnos.sexo %><br><br>
Plan:
<%= @alumnos.plan.nombre %><br><br>
Fecha Inscripcion: 
<%= @alumnos.created_at.strftime("%d - %m - %Y")%><br><br>
<%= link_to "REGRESAR", Alumno, class: "btn btn-default" %>
