<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		<h1><b><%= @alumnos.nombre %></b></h1>
      </div>
      <big><b>
      <div class="panel-body">
        RUT: 
        <%= @alumnos.rut %>
      </div>
      <div class="panel-body">
        Edad:
        <%= @alumnos.edad %>
        Años
      </div>
      <div class="panel-body">
      	Sexo:  
      	<%= @alumnos.sexo %>
      </div>
      <div class="panel-body">
      	Plan: 
      	<%= @alumnos.plan.nombre %>
      </div>
      <div class="panel-body">
      	Fecha Inscripción: 
      	<%= @alumnos.created_at.strftime("%d - %m - %Y") %>
      </div>
      <div class="panel-body">
        Complicación Medica: 
        <%= @alumnos.desc %>
      </div>
      </b></big>
    </div>
  </div>
  <%= link_to "Volver", Alumno, class: "btn btn-primary" %>
</div>
