<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		  <h2><b><%= @alumnos.nombre %></b></h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <div class="panel-body">
              <b><%= "RUT:" %></b> 
              <%= @alumnos.rut %>
            </div>
            <div class="panel-body">
              <b><%= "Edad:" %></b>
              <%= @alumnos.edad %><%= " Años" %>
            </div>
            <div class="panel-body">
      	      <b><%= "Sexo:" %></b>  
      	      <%= @alumnos.sexo %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel-body">
      	      <b><%= "Plan:" %></b> 
      	      <%= @alumnos.plan.nombre %>
            </div>
            <div class="panel-body">
      	      <b><%= "Fecha Pago:" %></b> 
      	      <%= @alumnos.diapago %>
            </div>
            <div class="panel-body">
              <b><%= "Complicación Medica:" %></b> 
              <%= @alumnos.desc %>
            </div>
          </div>
          <div class="col-md-3">
            <% rut_alumno = @alumnos.rut.to_s %>
            <% cont = 0 %>
            <% f_rutina = Time.now %>
            <% n_rutina = "" %>
            <% desc_rutina = "" %>
            <% @rutinas.each do |ruti| %>
              <% if ruti.rut == rut_alumno %>
                <% cont = cont + 1 %>
                <% f_rutina = ruti.created_at.strftime("%d/%m/%Y") %>
                <% n_rutina = ruti.nombre %>
                <% desc_rutina = ruti.desc %>
              <% end %>
            <% end %>
            <% if cont != 0 %>
              <div class="panel-body">
                <b><%= "Ultima Rutina:" %></b> 
                <%= f_rutina %>
              </div>
              <div class="panel-body">
                <b><%= "Trabajo:" %></b> 
                <%= n_rutina %>
              </div>
              <div class="panel-body">
                <b><%= "Descripción:" %></b> 
                <%= desc_rutina %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Volver", Alumno, class: "btn btn-primary" %>
  <a href="#Pagos" class="btn btn-success" data-toggle="modal">Pagos</a>
  <div class="modal fade" id="Pagos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Pagos: <%= @alumnos.nombre %></b></h2>
          <h3><%= "Fecha Actual: "%><%= Time.now.strftime("%d/%m/%Y")%></h3>
          <div class="panel-body">
            <!-- id del alumno/a actual -->
            <% rut_actual = @alumnos.rut %>
            <!-- variable inicializada en 0 -->
            <% suma = 0 %>
            <table class="table">
              <thead><tr>
                <th>Fecha Pago</th>
                <th>Monto</th>
              </tr></thead>
              <body>
                <!-- llamamos a la tabla pagos -->
                <% @pagos.each do |n| %>
                  <!-- si el rut corresponde al alumno/a actual muestra el pago hecho -->
                  <% rut_alumno = n.rut %>
                  <% if rut_actual == rut_alumno %>
                    <tr>
                      <td><b><%= n.created_at.strftime("%d/%m/%Y") %></b></td>
                      <td><b><%= n.monto %></b></td>
                      <!-- sumamos el monto -->
                      <% suma += n.monto.to_i %>
                    </tr>
                  <% end %>
                <% end %>
              </body>
            </table>
            <!-- guardamos el año actual y el año de inscripcion -->
            <% a_ins = @alumnos.created_at.strftime("%Y").to_i %>
            <% a_actual = Time.now.strftime("%Y").to_i %>
            <!-- restamos los años y los multiplicamos por 12 para sacarlos meses anteriores al año actual -->
            <% meses = (a_actual - a_ins)*12 %>
            <!-- guardamos el mes actual y el mes de inscripcion -->
            <% mes_ins = @alumnos.created_at.strftime("%m").to_i %>
            <% mes_act = Time.now.strftime("%m").to_i %>
            <!-- guardamos el dia actual y el dia de inscripcion -->
            <% dia_ins = @alumnos.diapago.to_i %>
            <% dia_act = Time.now.strftime("%d").to_i %>
            <!-- comparamos si el dia de inscripcion es menor o igual a al dia actual, si lo es a la diferencia de meses le sumamos 1, en caso contrario solo hacemos la resta de la diferencia de meses -->
            <% if dia_ins <= dia_act %>
              <% meses = meses + mes_act - mes_ins + 1 %>
            <% else %>
              <% meses = meses + mes_act - mes_ins %>
            <% end %>
            <!-- traemos el costo del plan y lo guardamos -->
            <% costo_plan = @alumnos.plan.precio.to_i %>
            <!-- multiplicamos el costo del plan por la cantidad de meses -->
            <% total_plan = costo_plan * meses %>
            <!-- restamos la suma total de pagos menos la deuda por meses -->
            <% saldo = suma - total_plan %>
            <h2 class="modal-title"><b>Saldo</b></h2>
            <% if saldo < 0 %>
              <big><b><%= "Alumno/a Con Deuda De: " %><%= saldo*-1 %><%= " Pesos"%></b></big>
            <% end %>
            <% if saldo == 0 %>
              <big><b><%= "Alumno/a Al Dia" %></b></big>
            <% end %>
            <% if saldo > 0 %>
              <big><b><%= "Alumno/a Con Saldo a Favor De: " %><%= saldo %><%= " Pesos"%></b></big>
            <% end %>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
