<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		  <h2><b><%= @alumnos.nombre %></b></h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="panel-body">
              <b><%= "RUT:" %></b> 
              <%= @alumnos.rut %>
            </div>
            <div class="panel-body">
              <b><%= "Edad:" %></b>
              <%= @alumnos.edad %><%= " Años" %>
            </div>
            <div class="panel-body">
      	      <b><%= "Sexo:" %></b>  
      	      <%= @alumnos.sexo %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel-body">
      	      <b><%= "Plan:" %></b> 
      	      <%= @alumnos.plan.nombre %>
            </div>
            <div class="panel-body">
      	      <b><%= "Fecha Inscripción:" %></b> 
      	      <%= @alumnos.created_at.strftime("%d/%m/%Y") %>
            </div>
            <div class="panel-body">
              <b><%= "Complicación Medica:" %></b> 
              <%= @alumnos.desc %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Volver", Alumno, class: "btn btn-primary" %>
</div>
