<%= form_for(@asistencia, :html =>{:role => 'form'}) do |f| %>
    <% if @asistencia.errors.any? %>
        <%= pluralize(@asistencia.errors.count, "ERROR")%>
        <% @asistencia.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="container">
      <div class="panel-group">
      <big><b>
        <div class="panel-body">
          FECHA: 
          <%= f.text_field :fecha %><br>
        </div>
        <div class="panel-body">
          CANTIDAD DE ALUMNOS/AS: 
        <%= f.text_field :cant_alumnos %><br>
      </div>
      </b></big>
      </div>
      <%= f.submit value="AGREGAR", class: "btn btn-success"%>
      <%= link_to "REGRESAR", Asist, class: "btn btn-primary"%>
    </div>
<% end %>
