<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>  
  <div class="container">
    <h2><b>Reenviar instrucciones de confirmación</h2>
    <div class="panel-group">
      <div class="panel-group">
        <%= "Email" %><br>
        <%= f.email_field :email, autofocus: true, placeholder: "ejemplo@ejemplo.cl" value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>        
      <div class="actions">
        <%= f.submit "Reenviar", class: "btn btn-success" %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>