<div class="container">
<h1><b><%= "Profesores/as" %></b></h1>
<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
  </tr>
  </thead>
  <tbody>
  <% @profesors.each do |actual| %>
      <tr>
        <td><b><%= actual.nombre %></b></td>
        <td><%= link_to 'Mostrar', profesor_url(actual), class: "btn btn-default", class: "btn btn-success"%></td>
        <td> <%= link_to 'Editar', editar_profesor_path(actual), class: "btn btn-info"%></td>
        <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿ESTA SEGURO?'}, class: "btn btn-danger" %></td>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
<span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'NUEVO/A PROFESOR/A',nuevo_profesor_path %></span><br>

<%= will_paginate @profesors, renderer: BootstrapPagination::Rails %>
</div>