<h1><%= @profesors.nombre %></h1><br>
Edad:
<%= @profesors.edad %><br>
Email:
<%= @profesors.email %><br>
Clase/s:
<%= @profesors.clase.nombre %><br><br>
Descripcion:
<%= @profesors.desc %><br><br>

<%= link_to "REGRESAR", Profesor, class: "btn btn-default" %>
