<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		<h1><b><%= @profesors.nombre %></b></h1>
      </div>
      <big><b>
      <div class="panel-body">
        RUT: 
        <%= @profesors.rut %>
      </div>
      <div class="panel-body">
      	Edad: 
      	<%= @profesors.edad %>
      	 Años
      </div>
      <div class="panel-body">
      	Email: 
      	<%= @profesors.email %>
      </div>
      <div class="panel-body">
      	Clase/s: 
      	<%= @profesors.clase.nombre %>
      </div>
      <div class="panel-body">
      	Descripcion: 
      	<%= @profesors.desc %>
      </div>
      </b></big>
    </div>
  </div>
</div>

<%= link_to "REGRESAR", Profesor, class: "btn btn-primary" %>