<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
      <% rut = @rutinas.rut.to_s %>
        <% cont = 0 %>
        <% ano = 0 %>
        <% nomb = "Anonimo/a" %>
        <% pln = "Alumno/a No Inscrito" %>
        <% @alumnos.each do |x| %>
          <% rr = x.rut %>
          <% if rut == rr %>
            <% nomb = x.nombre %>
            <% ano = x.edad %>
            <% pln = x.plan.nombre %>
            <% cont = cont + 1 %>
          <% end %>
        <% end %>
        <h2><b><%= nomb %></b></h2>
      </div>
      <big><b>
      <div class="panel-body">
        Fecha: 
        <%= @rutinas.fecha.strftime("%d/%m/%Y") %>
      </div>
      <div class="panel-body">
        Plan: 
        <%= pln %>
      </div>
      <div class="panel-body">
        Rutina: 
        <%= @rutinas.nombre %>
      </div>
      <div class="panel-body">
        Descripción: 
        <%= @rutinas.desc %>
      </div>
      </b></big>
    </div>
  </div>
  <%= link_to "Volver", "/total/index" , class: "btn btn-primary" %>
</div>