<%= simple_form_for @planclase, url: crear_planclase_url, as: 'planclase_pregunta'  do |f| %>
    <%= f.error_notification %>

    <%= f.hidden_field(:plan_id, :value => @plans.id) %>
    <p>
      <%= f.label :clases %><br>
      <%= f.select('clase_id', Clase.all().collect {|c| [c.clase, c.id]}, { include_blank: true }, {class: 'chosen-select', multiple:true}) %>
    </p>

    <%= f.button :submit, "Guardar", class: "my-button" %>
<% end %>