<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="container">
    <h2><b><%= "Editar Perfil" %></b></h2>
    <div class="form-group">
      <div class="panel-body"><big>
        <label class="control-label col-xs-3">Nombre:</label>
        <i><%= f.text_field :nombre, placeholder: "Nombre Completo" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3">Rut:</label>
        <i><%= f.text_field :rut, placeholder: "XXXXXXX-X" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3">Edad:</label></b>
        <i><%= f.text_field :edad, placeholder: "Ejemplo: 15" %></i><br>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3">Rol:</label>
        <i><%= f.select :role, [["Administrador"], ["Profesor"]]%></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3">Sexo:</label>
        <i><%= f.select :sexo, [["Masculino"], ["Femenino"]]%></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3">Email:</label>
        <i><%= f.email_field :email, autofocus: true, placeholder: "ejemplo@ejemplo.cl" %></i>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="panel-body">
          <label class="control-label col-xs-3">En Espera De Confirmacion De:</label>
          <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <div class="panel-body">
        <label class="control-label col-xs-3"><%= "Nueva Contraseña: " %><br><i>(Dejar En Blanco Si No Desea Cambiarlo)</i><br>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> Mínimo de caracteres)</em><br>
        <% end %></label><br>
        <i><%= f.password_field :password, autocomplete: "off", placeholder: "********" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3">Confirmar Nueva Contraseña:</label>
        <i><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "********" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3"><%= "Contraseña Actual: " %><br><i>(Necesitamos Su Contraseña Actual Para Confirmar Sus Cambios)</i></label>
        <i><%= f.password_field :current_password, autocomplete: "off", placeholder: "********" %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Observación:</label></b>
        <i><%= f.text_area :observacion, size:"30x2", placeholder:"Opcional" %></i>
      </div></big>
      <div class="actions">
        <%= f.submit "Guardar", class: "btn btn-success" %>
        <%= link_to "Volver", "/", class: "btn btn-primary" %>
      </div>
    </div>
  </div>    
<% end %>