<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="container">
      <h2><b>Editar Sesión</b></h2>
      <div class="col-md-6">
        <big><b>
        <div class="panel-group">
          <%= "Email" %><br></b>
          <i><%= f.email_field :email, autofocus: true %></i>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>En Espera De Confirmacion De:
            <%= resource.unconfirmed_email %>
          </div>
        <% end %><b>
        <div class="panel-group">
          <%= "Nueva Contraseña" %></b><i>(Dejar En Blanco Si No Desea Cambiarlo)<br>
          <%= f.password_field :password, autocomplete: "off", placeholder: "********" %></i>
        </div><b>
        <div class="panel-group">
          <%= "Confirmar Nueva Contraseña" %><br></b>
          <i><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "********" %></i>
        </div><b>
        <div class="panel-group">
          <%= "Contraseña Actual"%></b><i>(Necesitamos Su Contraseña Actual Para Confirmar Sus Cambios)<br>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "********"%></i>
        </div>
        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn-success" %>
          <%= link_to "Volver", :back, class: "btn btn-primary" %>
        </div></big>
      </div>
      <div class="container">
      <h3><b>Desactivar Cuenta</b></h3>
        <div class="panel-group"><b>
          <p>Desactivar Tu Cuenta Significa: Que No Podrás Volver a Ingresar Como Empleado. ¿Estás Seguro?</p>
          <%= link_to "Desactivar", registration_path(resource_name), data: { confirm: "¿Está seguro?" }, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>    
  </div>
<% end %>
