<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="container">
      <h2><b>Editar Sesión</b></h2>
      <div class="col-md-6">
      <big><b>
        <div class="panel-group">
          <%= "Nombre" %><br></b>
          <i><%= f.text_field :nombre, placeholder: "Nombre Completo" %></i>
        </div>
        <big><b>
        <div class="panel-group">
          <%= "Rut" %><br></b>
           <i><%= f.text_field :rut, placeholder: "XXXXXXX-X" %></i>
        </div>
        <big><b>
        <div class="panel-group">
          <%= "Edad" %><br></b>
            <i><%= f.select :edad, [["18"],["19"],["20"],["21"],["22"],["23"],["24"],["25"],["26"],["27"],["28"],["29"],["30"],["31"],["32"],["33"],["34"],["35"],["36"],["37"],["38"],["39"],["40"],["41"],["42"],["43"],["44"],["45"],["46"],["47"],["48"],["49"],["50"],["51"],["52"],["53"],["54"],["55"],["56"],["57"],["58"],["59"],["60"],["61"],["62"],["63"],["64"],["65"],["66"],["67"],["68"],["69"],["70"]]%></i><b> Años</b><br>
        </div>
        <big><b>
        <div class="panel-group">
          <%= "Rol" %><br></b>
          <i><%= f.select :role, [["administrador"], ["profesor"]]%></i>
        </div>
        <big><b>
        <div class="panel-group">
          <%= "Sexo" %><br></b>
           <i><%= f.select :sexo, [["Masculino"], ["Femenino"]]%></i>
        </div>
        <big><b>
        <div class="panel-group">
          <%= "Email" %><br></b>
          <i><%= f.email_field :email, autofocus: true %></i>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>En Espera De Confirmacion De:
            <%= resource.unconfirmed_email %>
          </div>
        <% end %><b>
        <div class="panel-group">
          <%= "Nueva Contraseña" %></b><i>(Dejar En Blanco Si No Desea Cambiarlo)<br>
          <%= f.password_field :password, autocomplete: "off", placeholder: "********" %></i>
        </div><b>
        <div class="panel-group">
          <%= "Confirmar Nueva Contraseña" %><br></b>
          <i><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "********" %></i>
        </div><b>
        <div class="panel-group">
          <%= "Contraseña Actual"%></b><i>(Necesitamos Su Contraseña Actual Para Confirmar Sus Cambios)<br>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "********"%></i>
        </div>
        <big><b>
        <div class="panel-group">
          <%= "Observacion" %><br></b>
            <i><%= f.text_area :observacion, size: "30x2", placeholder: "Opcional" %></i>
        </div>
        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn-success" %>
          <%= link_to "Volver", "/", class: "btn btn-primary" %>
        </div></big>
      </div>
      <div class="container">
      <h3><b>Desactivar Cuenta</b></h3>
        <div class="panel-group"><b>
          <p>Desactivar Tu Cuenta Significa: Que No Podrás Volver a Ingresar Como Empleado. ¿Estás Seguro?</p>
          <%= link_to "Desactivar", registration_path(resource_name), data: { confirm: "¿Está seguro?" }, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>    
  </div>
<% end %>
