<%= form_for(@asists, :html =>{:role => 'form'}) do |f| %>
    <% if @asists.errors.any? %>
        <%= pluralize(@asists.errors.count, "ERROR")%>
        <% @asists.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="field">
        <b><%= "Clase/s:" %></b>
        <%= f.collection_select :clase_id, Clase.order("Nombre"), :id, :nombre, include_blank: true %><br><br>
    </div>
    <div class="field">
        <b><%= "Fecha: "%></b>
        <%= f.text_field :fecha %><br><br>
    </div>
    <div class="field">
        <b><%= "Cantidad De Almunos: "%></b>
        <%= f.text_field :cantidad %><br><br>
    </div>
    <%= f.submit value="AGREGAR", class: "btn btn-success"%>
    <%= link_to "REGRESAR", Asist, class: "btn btn-primary"%>
<% end %>
