<%= form_for(@asists, :html =>{:role => 'form'}) do |f| %>
    <% if @asists.errors.any? %>
        <%= pluralize(@asists.errors.count, "ERROR")%>
        <% @asists.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="container">
      <div class="panel-group">
      <big><b>
        <div class="panel-group">
        CLASE:
        <%= f.collection_select :clase_id, Clase.order("Nombre"), :id, :nombre, include_blank: true %><br>
        </div>
        <div class="panel-body">
          FECHA: 
          <%= f.text_field :fecha %><br>
        </div>
        <div class="panel-body">
          CANTIDAD DE ALUMNOS/AS: 
        <%= f.text_field :cantidad %><br>
      </div>
      </b></big>
      </div>
      <%= f.submit value="AGREGAR", class: "btn btn-success"%>
      <%= link_to "REGRESAR", Asist, class: "btn btn-primary"%>
    </div>
<% end %>