<%= form_for(@asists, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container"><big>
    <div class="panel-body">
      <% if @asists.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @asists.errors.count == 1 %>
            <h2><%= pluralize(@asists.errors.count, "Error")%><%= " impide realizar esta acción: "%></h2>
            <ul>
              <% @asists.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@asists.errors.count, "Errore")%><%= " impiden realizar esta acción: "%></h2>
            <ul>
              <% @asists.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
    <big><b>
      <!-- AÑADIR A ASISTENCIA UN CAMPO STRING PARA DECIR SI EL PROFESOR ASISTIO O NO -->
      <div class="panel-body">
        <label>Clase:</label></b>
        <i><%= f.collection_select :clase_id, Clase.order("Nombre"), :id, :nombre, include_blank: true %></i>
      </div><b>
      <div class="panel-body">
        <label> Alumnos/as: </label></b>
        <% @alumnos.each do |alumno| %>
          <div class="field">
            <%= check_box_tag "Alumnos[]", alumno.id %><%= alumno.nombre %>
          </div>
        <% end %>
        <input type="checkbox" id="cantidad" value="1000"><%= "Otros"%>
      </div></big>
      <b><div>Cantidad: <span id="select">0</span></div> 
      <script>
        $(document).ready(function(){
          // Evento que se ejecuta al soltar una tecla en el input
          $("#cantidad").keydown(function(){
            $("input[type=checkbox]").prop('checked', false);
            $("#select").html("0");
          });
          // Evento que se ejecuta al pulsar en un checkbox
          $("input[type=checkbox]").change(function(){
            // Cogemos el elemento actual
            var elem = this;
            var cont = 0;
            // Recorremos todos los checkbox para contar los que estan seleccionados
            $("input[type=checkbox]").each(function(){
            if($(this).is(":checked"))
              cont ++;
            });
            var cantMax = parseInt($("#cantidad").val()) || 0;
            // Comprovamos si supera la cantidad máxima indicada
            if(cont > cantMax){
              alert("Has seleccionado mas checkbox que los indicados");
              // Desmarcamos el ultimo elemento
              $(elem).prop('checked', false);
              cont --;
            }
            $("#select").html(cont);
            $("#select").html(emen);

          });
        });
      </script>
      <div class="panel-body">
        <%= "Ingrese Cantidad de Alumnos/as: " %></b>
        <i><%= f.text_field :cantidad, placeholder: "Ej: 5" %></i>
      </div>
    </div>
    <%= f.submit value="Guardar", class: "btn btn-success"%>
    <input type="reset" class="btn btn-default" value="Limpiar">
    <%= link_to "Volver", Asist, class: "btn btn-primary"%>
  </div>
<% end %>