<%= form_for(@asists, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container">
    <div class="panel-body">
      <% if @asists.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @asists.errors.count == 1 %>
            <h2><%= pluralize(@asists.errors.count, "Error")%><%= " impide realizar esta acci칩n: "%></h2>
            <ul>
              <% @asists.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@asists.errors.count, "Errore")%><%= " impiden realizar esta acci칩n: "%></h2>
            <ul>
              <% @asists.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div><big>
    <div class="form-group">
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Clase:</label></b>
        <% if current_user.role == 'Profesor' %>
          <i><%= f.collection_select :clase_id, Clase.order("Nombre").where(user_id: current_user.id), :id, :nombre, include_blank: true %></i>
        <% else %>
          <i><%= f.collection_select :clase_id, Clase.order("Nombre"), :id, :nombre, include_blank: true %></i>
        <% end %>
      </div>
      <div class="panel-body">
        <b><label>Alumnos/as:</label></b> 
        <input type="checkbox" disabled="disabled" id="cantidad" value="1000"><b><%= "Profesor: "%></b><i><%= current_user.nombre %></i>
        <% @alumnos.each do |alumno| %>
          <% plan_alumno = alumno.plan.id.to_i %>
          <% @clases.each do |xxx| %>
            <% if xxx.plan_id == plan_alumno %>
              <% if current_user.id == xxx.user_id %>
                <div class="field">
                  <%= check_box_tag "Alumnos[]", alumno.id %><%= alumno.nombre %><%= " - " %><%= alumno.plan.nombre %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>  
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Cantidad:</label></b>
        <span id="select">0</span>
      </div>
      <script>
        $(document).ready(function(){
          // Evento que se ejecuta al soltar una tecla en el input
          $("#cantidad").keydown(function(){
            $("input[type=checkbox]").prop('checked', false);
            $("#select").html("0");
          });
          // Evento que se ejecuta al pulsar en un checkbox
          $("input[type=checkbox]").change(function(){
            // Cogemos el elemento actual
            var elem = this;
            var cont = 0;
            // Recorremos todos los checkbox para contar los que estan seleccionados
            $("input[type=checkbox]").each(function(){
            if($(this).is(":checked"))
              cont ++;
            });
            var cantMax = parseInt($("#cantidad").val()) || 0;
            // Comprovamos si supera la cantidad m치xima indicada
            if(cont > cantMax){
              alert("Has seleccionado mas checkbox que los indicados");
              // Desmarcamos el ultimo elemento
              $(elem).prop('checked', false);
              cont --;
            }
            $("#select").html(cont);
            $("#select").html(emen);
          });
        });
      </script>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Cant. Alumnos Asistentes:</label></b>
        <i><%= f.text_field :cantidad, placeholder: "Ejemplo: 5" %></i>
      </div>
      <div class="panel-body">
        <b><label class="control-label col-xs-3">Descripci칩n Clase:</label></b>
        <i><%= f.text_area :desc, size: "20x3", placeholder: "Trabajo Realizado" %></i>
      </div>
    </div></big>
    <%= f.submit value="Guardar", class: "btn btn-success"%>
    <input type="reset" class="btn btn-default" value="Limpiar">
    <%= link_to "Volver", Asist, class: "btn btn-primary"%>
  </div>
<% end %>