<div class="container">
<h1><b><%= "Asistencias" %></b></h1>
<h4><b><p class="text-info"> Instrucciones: </p></b></h4>
  <h5>
    <b><p class="text-success"> 1.- Para 'Editar' la informacion de una asistencia, presionar sobre el boton 'Editar' </p></b>
    <b><p class="text-success"> 2.- Para 'Borrar' una asistencia, presionar sobre el boton 'Borrar' </p></b>
    <b><p class="text-success"> 3.- Para 'Crear' una nueva asistencia, presionar sobre el boton 'Nueva Asistencia' </p></b>
  </h5>
<span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nueva Asistencia',nueva_asist_path %></span>
<!-- boton buscar aun no configurado
  <a href="#Buscar" class="btn btn-default btn-lg" data-toggle="modal">Buscar</a>
  <div class="modal fade" id="Buscar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Buscar</b></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
<table class="table">
  <thead>
  <tr>
      <th>Fecha</th>
      <th>Clase</th>
      <th>Cant. Alumnos/as</th>
      <th>Opciones</th>
  </tr>
  </thead>
  <tbody>
  <% @asists.each do |actual| %>
      <tr>
        <td><b><%= actual.created_at.strftime("%d - %m - %Y") %></b></td>
        <td><b><%= actual.clase.nombre %></b></td>
        <td><b><%= actual.cantidad %></b></td>
      
        <td> <%= link_to 'Editar', editar_asist_path(actual), class: "btn btn-info"%>
        <% if current_user.role == 'Administrador'%>
        <%= link_to 'Borrar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
        <% end %>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
  <%= will_paginate @asist, renderer: BootstrapPagination::Rails %>
</div>