<h1><b><%= "Asistencias" %></b></h1>
<table class="table">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Clase</th>
  </tr>
  </thead>
  <tbody>
  <% @asists.each do |actual| %>
      <tr>
        <td><%= actual.fecha %></td>
        <td><%= actual.clase.nombre %></td>
        <td><%= link_to 'Mostrar', asist_url(actual), class: "btn btn-success"%></td>
        <td> <%= link_to 'Editar', editar_asist_path(actual), class: "btn btn-info"%></td>
        <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿ESTA SEGURO?'}, class: "btn btn-danger"%></td>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
<span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'NUEVA ASISTENCIA',nueva_asist_path %></span><br>
<%= will_paginate @asists, renderer: BootstrapPagination::Rails %>