<div class="container">
  <h1><b><%= "Asistencia Clases" %></b></h1>
  <% cont = 0 %>
  <% cont1 = 0 %>
  <% @plans.each do |x| %>
    <% cont1 = cont1 + 1 %>
  <% end %>
  <% @alumnos.each do |x| %>
    <% cont = cont + 1 %>
  <% end %>
  <% if cont1 == 0 %>
    <b><p class="text-danger">**PARA CREAR NUEVAS ASISTENCIAS PRIMERO CREAR PLAN/ES**</p></b>
    <%= link_to 'Nuevo Plan', nuevo_plan_path, class: "btn btn-danger btn-lg" %>
  <% else %>
    <% if cont == 0 %>
      <b><p class="text-danger">**PARA CREAR NUEVAS ASISTENCIAS PRIMERO AGREGAR ALUMNOS/AS**</p></b>
      <%= link_to 'Nuevo Alumno/a', nuevo_alumno_path, class: "btn btn-danger btn-lg" %>
    <% else %>
      <a href="#Inst" class="btn btn-primary btn-lg" data-toggle="modal">Instrucciones</a>
      <div class="modal fade" id="Inst">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title"><b><p class="text-info"> Instrucciones: </p></b></h2>
              <h5>
                <b><p class="text-success"> 1.- Para 'Editar' la informacion de una asistencia, presionar sobre el boton 'Editar' </p></b>
                <b><p class="text-success"> 2.- Para 'Borrar' una asistencia, presionar sobre el boton 'Borrar' </p></b>
                <b><p class="text-success"> 3.- Para 'Crear' una nueva asistencia, presionar sobre el boton 'Nueva Asistencia' </p></b>
              </h5>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to 'Nueva Asistencia', nueva_asist_path, class: "btn btn-warning btn-lg" %>
      <% if current_user.role == 'Administrador'%>
        <%= link_to 'Volver','/total/index', class: "btn btn-info btn-lg" %>
      <% end %>
    <% end %>
  <% end %>
  <table class="table">
    <thead><tr>
      <th>Fecha</th>
      <th>Clase</th>
      <th>Total Alumnos</th>
      <th>Opciones</th>
  </tr></thead>
  <tbody>
  <% @asists.order(:created_at).each do |actual| %>
      <tr>
        <td><b><%= actual.created_at.strftime("%d - %m - %Y") %></b></td>
        <td><b><%= actual.clase.nombre %></b></td>
        <td><b><%= actual.cantidad %></b></td>
        <td><%= link_to 'Mostrar', asist_url(actual), class: "btn btn-success" %>
        <%= link_to 'Editar', editar_asist_path(actual), class: "btn btn-info"%>
        <% if current_user.role == 'Administrador'%>
          <%= link_to 'Borrar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
        <% end %>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
  <%= will_paginate @asist, renderer: BootstrapPagination::Rails %>
</div>