<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		  <h1><b> Clase: <%= @asists.clase.nombre %></b></h1>
      </div>
      <big><b>
      <div class="panel-body">
    	  Fecha:
        <%= @asists.created_at.strftime("%d/%m/%Y") %>
      </div>
      <div class="panel-body">
        Cantidad De Alumnos/as: 
    	  <%= @asists.cantidad %>
      </div>
      <div class="panel-body">
        Descripción Clase:
        <%= @asists.desc %>
      </div>
      </b></big>
    </div>
  </div>
  <%= link_to "Volver", Asist, class: "btn btn-primary" %>
</div>


