<%= form_for(@pagos, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container"><big>
    <div class="panel-body">
      <% if @pagos.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @pagos.errors.count == 1 %>
            <h2><%= pluralize(@pagos.errors.count, "Error")%><%= " impide realizar esta acción: "%></h2>
            <ul>
              <% @pagos.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@pagos.errors.count, "Errore")%><%= " impiden realizar esta acción: "%></h2>
            <ul>
              <% @pagos.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <big><b>
        <div class="panel-body">
          <label class="control-label col-xs-3">Alumno/a:</label></b> 
          <i><%=f.collection_select :alumno_id, Alumno.order("Nombre"), :id, :nombre, include_blank: true %></i><br>
        </div><b>
        <div class="panel-body">
          <label class="control-label col-xs-3">Monto:</label></b>
          <i><%= f.text_field :monto, placeholder: "Ejemplo: 1000" %></i><br>
        </div>
        <%= f.submit value="Guardar", class: "btn btn-success"%>
        <input type="reset" class="btn btn-default" value="Limpiar">
        <%= link_to "Volver", Pago, class: "btn btn-primary"%>
      </big>  
    </div>
  </div>
<%end%>