<%= form_for(@pagos, :html =>{:role => 'form'}) do |f| %>
    <% if @pagos.errors.any? %>
        <%= pluralize(@pagos.errors.count, "Error")%>
        <% @pagos.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="container">
      <div class="panel-group">
      <big><b>
        <div class="panel-body">
          Alumno/a: 
          <%=f.collection_select :alumno_id, Alumno.order("Nombre"), :id, :nombre, include_blank: true %><br>
        </div>
        <div class="panel-body">
          Clase:
          <%= %><br>
        </div>
        <div class="panel-body">
          Monto:
          <%= f.select :monto, [["5000"],["10000"],["15000"],["18000"],["20000"],["30000"]]%><br>
        </div>
        <%= f.submit value="Agregar", class: "btn btn-success"%>
        <%= link_to "Volver", Pago, class: "btn btn-primary"%>
      </b></big>
    </div>
<% end %>