<%= form_for(@pagos, :html =>{:role => 'form'}) do |f| %>
  <% if @pagos.errors.any? %>
    <%= pluralize(@pagos.errors.count, "Error")%>
    <% @pagos.errors.full_messages.each do |actual| %>
      <%= actual %>
    <%end%>
  <%end%>
  <div class="container">
    <div class="form-group">
      <big><b>
        <div class="panel-body">
          <label class="control-label col-xs-3">Alumno/a:</label></b> 
          <i><%=f.collection_select :alumno_id, Alumno.order("Nombre"), :id, :nombre, include_blank: true %></i><br>
        </div><b>
        <div class="panel-body">
          <label class="control-label col-xs-3">Monto:</label></b>
          <i><%= f.select :monto, [["1000"],["2000"],["3000"],["4000"],["5000"],["6000"],["7000"],["8000"],["9000"],["10000"],["11000"],["12000"],["13000"],["14000"],["15000"],["16000"],["17000"],["18000"],["19000"],["20000"],["21000"],["22000"],["23000"],["24000"],["25000"],["26000"],["27000"],["28000"],["29000"],["30000"],["31000"],["32000"],["33000"],["34000"],["35000"]]%></i><br>
        </div>
        <%= f.submit value="Agregar", class: "btn btn-success"%>
        <input type="reset" class="btn btn-default" value="Limpiar">
        <%= link_to "Volver", Pago, class: "btn btn-primary"%>
      </big>  
    </div>
  </div>
<%end%>