<h1><b><%= "Pagos" %></b></h1>
<table class="table">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Monto</th>
  </tr>
  </thead>
  <tbody>
  <% @pagos.each do |actual| %>
      <tr>
        <td><%= actual.create_at %></td>
        <td><%= actual.monto %></td>
        <td><%= link_to 'Mostrar', pago_url(actual), class: "btn btn-success"%></td>
        <td> <%= link_to 'Editar', editar_pago_path(actual), class: "btn btn-info"%></td>
        <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿ESTA SEGURO?'}, class: "btn btn-danger"%></td>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
<span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'NUEVO PAGO',nuevo_pago_path %></span><br>

<ul class="pagination pagination-sm">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>