<div class="container">
<h1><b><%= "Pagos" %></b></h1>
<table class="table">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Alumno/a<th>
    <th>Monto</th>
  </tr>
  </thead>
  <tbody>
  <% @pagos.each do |actual| %>
      <tr>
        <td><b><%= actual.created_at.strftime("%d - %m - %Y")%></b></td>
        <td><b><%= actual.alumno.nombre%></b></td>
        <td><b><%= actual.monto%></b></td>
        <td><%= link_to 'Editar', editar_pago_path(actual), class: "btn btn-info"%></td>
        <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿ESTA SEGURO?'}, class: "btn btn-danger"%></td>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
<span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'NUEVO PAGO',nuevo_pago_path %></span><br>

<%= will_paginate @pagos, renderer: BootstrapPagination::Rails %>
</th>