<div class="container">
  <h1><b><%= "Pagos" %></b></h1>
  <span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nuevo Pago',nuevo_pago_path %></span>  
  <a href="#Morosos" class="btn btn-danger btn-lg" data-toggle="modal">Morosos/as</a>
  <div class="modal fade" id="Morosos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Alumnos/as Morosos/as</b></h2>
          <h3><%= "No Han Pagado Este Mes" %><br><%= "Fecha Actual " %><%= Time.now.strftime("%d/%m/%Y")%></h3>
          <div class="panel-body">
            <!-- tomo el dia actual y lo guardo en una variable -->
            <% t0 = Time.now.strftime("%d") %>
            <% t1 = Time.now.strftime("%m") %>
            <% t2 = Time.now.strftime("%Y") %>
            <% t3 = Time.local(t2,t1,01,0,0) %>
            <% t4 = Time.now %>
            <% c0 = 0 %>
            <table class="table">
              <thead><tr>
                <th>Nombre Alumno/a</th>
                <th>Plan</th>
                <th>Fecha Pago</th>
              </tr></thead>
              <tbody>
                <!-- listamos los alumnos -->
                <% @alumnos.each do |n| %>
                  <% v0 = n.id %>
                  <% t6 = n.created_at.strftime("%d") %>
                  <!-- Si el dia actual es mayor o igual al de pago -->
                  <% if t0 >= t6 %>
                    <!-- listamos los pagos -->
                    <% @pagos.each do |prueba| %>
                      <% v1 = prueba.alumno_id %>
                      <!-- si el id del alumno corresponde al 
                      id del pago hecho por un alumno -->
                      <% if v0 == v1 %>
                        <% t5 = prueba.created_at.strftime("%m") %>
                        <!-- si el pago es en el mismo mes -->
                        <% if t5 == t1 %>
                          <% c0 = 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if c0 == 0 %>
                    <tr>
                      <td><b><%= n.nombre %></b></td>
                      <td><b><%= n.plan.nombre %></b></td>
                      <td><b><%= n.created_at.strftime("%d")%></b></td>
                    </tr>
                  <% end %>
                  <% c0 = 0 %>
                <% end %>
              </tbody>
            </table>
            </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#Fondos" class="btn btn-success btn-lg" data-toggle="modal">Ingresos</a>
  <div class="modal fade" id="Fondos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <% t0 = Time.now.strftime("%m") %>
          <% t1 = Time.now.strftime("%Y") %>
          <% t3 = Time.local(t1,t0,01,0,0) %>
          <% t4 = Time.now %>
          <% suma = 0 %>
          <h1 class="modal-title"><b>Ingresos</b></h1>
          <h3><%= "Desde: "%>
          <%= t3.strftime("%d/%m/%Y") %><br> 
          <%= "Hasta: " %>
          <%= Time.now.strftime("%d/%m/%Y")%><br></h3>
          <% @pagos.each do |f| %><br>
            <% t2 = f.created_at %>
            <!-- Si esta dentro del inicio del mes hasta la fecha-->
            <% if t2.between?(t3,t4) %>
              <% suma += f.monto.to_i %>
            <%end%>
          <%end%>
          <h2><%= "Monto: $ " %><%= suma %> <%= " Pesos" %></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Alumno/a</th>
        <th>Fecha</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <% @pagos.each do |actual| %>
        <tr>
          <td><b><%= actual.alumno.nombre %></b></td>
          <td><b><%= actual.created_at.strftime("%d/%m/%Y") %></b></td>
          <td><b><%= actual.monto %></b></td>
          <td><%= link_to 'Editar', editar_pago_path(actual), class: "btn btn-info" %></td>
          <% if can? :eliminar, Pago %>
            <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table><br><br>
  <%= will_paginate @pagos, renderer: BootstrapPagination::Rails %>
</div>