<div class="container">
  <h1><b><%= "Pagos" %></b></h1>
  <span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nuevo Pago',nuevo_pago_path %></span>  
  <!-- boton buscar aun no configurado
  <a href="#Buscar" class="btn btn-default btn-lg" data-toggle="modal">Buscar</a>
  <div class="modal fade" id="Buscar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Buscar</b></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <a href="#Fondos" class="btn btn-success btn-lg" data-toggle="modal">Ingresos</a>
  <div class="modal fade" id="Fondos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <% t0 = Time.now.strftime("%m") %>
          <% t1 = Time.now.strftime("%Y") %>
          <% t3 = Time.local(t1,t0,01,0,0) %>
          <% t4 = Time.now %>
          <% suma = 0 %>
          <h1 class="modal-title"><b>Ingresos</b></h1>
          <h3><%= "Desde: "%>
        <%= t3.strftime("%d/%m/%Y") %><br> 
        <%= "Hasta: " %>
        <%= Time.now.strftime("%d/%m/%Y")%><br></h3>
        <% @pagos.each do |f| %><br>
          <% t2 = f.created_at %>
          <!-- Si esta dentro del inicio del mes hasta la fecha-->
          <% if t2.between?(t3,t4) %>
            <% suma += f.monto.to_i %>
          <%end%>
        <%end%>
        <h2><%= "Monto: $ " %> 
        <%= suma %> 
        <%= " Pesos" %></h2>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Alumno/a</th>
        <th>Fecha</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <% @pagos.each do |actual| %>
        <tr>
          <td><b><%= actual.alumno.nombre %></b></td>
          <td><b><%= actual.created_at.strftime("%d - %m - %Y") %></b></td>
          <td><b><%= actual.monto %></b></td>
          <td><%= link_to 'Editar', editar_pago_path(actual), class: "btn btn-info" %></td>
          <% if can? :eliminar, Pago %>
            <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table><br><br>
  <%= will_paginate @pagos, renderer: BootstrapPagination::Rails %>
</div>