<%= link_to 'Nuevo pago', nuevo_pago_path%><br><br>
<h1><%= 'Nombre/s:'%></h1><br>
<% @pagos.each do |actual| %>
<%= actual.nombre %>
<%= link_to 'Mostrar', pago_url(actual) %>
<%= link_to 'Editar', editar_pago_path(actual) %>
<%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Esta Seguro?'} %><br><br>
<% end %>
