<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		<h1><b><%= "Fecha Del Pago: " %><%= @pagos.created_at.strftime("%d/%m/%Y") %></b></h1>
      </div>
      <big><b>
      <div class="panel-body">
      	Alumno/a: 
      	<%= @pagos.alumno.nombre %>
      </div>
      <div class="panel-body">
        Plan: 
        <%= @pagos.alumno.plan.nombre %>
      </div>
      <div class="panel-body">
      	Monto: 
      	<%= @pagos.monto %>
      </div>
      </b></big>
    </div>
  </div>
  <%= link_to "Volver", Pago, class: "btn btn-primary" %>
</div>