<%= form_for(@clases, :html =>{:role => 'form'}) do |f| %>
  <% if @clases.errors.any? %>
    <%= pluralize(@clases.errors.count, "ERROR")%>
    <% @clases.errors.full_messages.each do |actual| %>
      <%= actual %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="form-group">
    <big><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Nombre:</label></b> 
        <i><%= f.text_field :nombre, placeholder: "Nombre Completo" %></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Descripción:</label></b>
        <i><%= f.text_area :desc, size: "30x6", placeholder: "Descripción" %></i><br>
      </div>
      <%= f.submit value="Agregar", class: "btn btn-success"%>
      <input type="reset" class="btn btn-default" value="Limpiar">
      <%= link_to "Volver", Clase, class: "btn btn-primary"%>
    </big>
  </div>
<% end %>
