<%= form_for(@clases, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container"><big>
    <div class="panel-body">
      <% if @clases.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @clases.errors.count == 1 %>
            <h2><%= pluralize(@clases.errors.count, "Error")%><%= " impide realizar esta acci贸n: "%></h2>
            <ul>
              <% @clases.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@clases.errors.count, "Errore")%><%= " impiden realizar esta acci贸n: "%></h2>
            <ul>
              <% @clases.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="container">
    <div class="form-group"><b>
      <div class="panel-body">
        <label class="control-label col-xs-2">Nombre:</label></b> 
        <i><%= f.text_field :nombre, placeholder: "Nombre Completo" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-2"><b><%= "Profesor/es: " %></b></label>
        <i><% @users.each do |user| %>
          <%= check_box_tag "User[]", user.id %><%= user.nombre %></i>
        <% end %>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-2">Descripci贸n:</label></b>
        <i><%= f.text_area :desc, size: "30x6", placeholder: "Descripci贸n" %></i>
      </div>
      <%= f.submit value="Guardar", class: "btn btn-success"%>
      <input type="reset" class="btn btn-default" value="Limpiar">
      <%= link_to "Volver", Clase, class: "btn btn-primary"%>
    </big>
  </div>
<% end %>
