<%= form_for(@clases, :html =>{:role => 'form'}) do |f| %>
    <% if @clases.errors.any? %>
        <%= pluralize(@clases.errors.count, "ERROR")%>
        <% @clases.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="container">
      <div class="panel-group">
      <big><b>
        <div class="panel-body">
          NOMBRE: 
          <%= f.text_field :nombre %><br>
        </div>
        <div class="panel-body">
          DESCRIPCIÓN:
          <%= f.text_area :desc, size: "30x6" %><br>
        </div>
        <%= f.submit value="AGREGAR", class: "btn btn-success"%>
        <%= link_to "REGRESAR", Clase, class: "btn btn-primary"%>
      </b>
      </big>
    </div>
<% end %>
