<%= form_for(@clases, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container">
    <div class="panel-body">
      <% if @clases.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @clases.errors.count == 1 %>
            <h2><%= pluralize(@clases.errors.count, "Error")%><%= " impide realizar esta acci贸n: "%></h2>
            <ul>
              <% @clases.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@clases.errors.count, "Errore")%><%= " impiden realizar esta acci贸n: "%></h2>
            <ul>
              <% @clases.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div><big>
    <div class="container">
      <div class="form-group">
        <div class="panel-body">
          <b><label class="control-label col-xs-2">Nombre:</label></b> 
          <i><%= f.text_field :nombre, placeholder: "Nombre Completo" %></i>
        </div>
        <div class="panel-body">
          <b><label class="control-label col-xs-2"><%= f.label "Profesor:" %></label></b>
          <i><%= f.select('user_id',User.where(role: 'Profesor').collect {|c| [c.nombre, c.id] }) %></i>
        </div>
        <div class="panel-body">
          <b><label class="control-label col-xs-2"><%= f.label "Plan:" %></label></b>
          <i><%= f.collection_select :plan_id, Plan.order("Nombre"), :id, :nombre, include_blank: true %></i>
        </div>
        <div class="panel-body">
          <b><label class="control-label col-xs-2">Descripci贸n:</label></b>
          <i><%= f.text_area :desc, size: "30x6", placeholder: "Descripci贸n" %></i>
        </div>
        <%= f.submit value="Guardar", class: "btn btn-success"%>
        <input type="reset" class="btn btn-default" value="Limpiar">
        <%= link_to "Volver", Clase, class: "btn btn-primary"%>
      </div>
    </div></big>
  </div>
<% end %>