<%= link_to 'Nueva Clase', nuevo_clase_path%><br><br>
<h1><%= 'Nombre/s:'%></h1><br>
<% @clases.each do |actual| %>
<%= actual.nombre %>
<%= link_to 'Mostrar', clase_url(actual) %>
<%= link_to 'Editar', editar_clase_path(actual) %>
<%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Esta Seguro?'} %><br><br>
<% end %>
