<div class="container">
  <h1><b><%= "Clases" %></b></h1>
  <h4><b><p class="text-info"> Instrucciones: </p></b></h4>
  <h5>
    <b><p class="text-success"> 1.- Para 'Ver' una clase en detalle, presionar sobre el nombre de la clase </p></b>
    <b><p class="text-success"> 2.- Para 'Editar' la informacion de una clase, presionar sobre el boton 'Editar' </p></b>
    <b><p class="text-success"> 3.- Para 'Borrar' una clase, presionar sobre el boton 'Borrar' </p></b>
    <b><p class="text-success"> 4.- Para 'Crear' una nueva clase, presionar sobre el boton 'Nueva Clase' </p></b>
  </h5>
  <%= link_to 'Nueva Clase', nueva_clase_path, class: "btn btn-warning btn-lg" %>
  <!-- boton buscar aun no configurado
  <a href="#Buscar" class="btn btn-default btn-lg" data-toggle="modal">Buscar</a>
  <div class="modal fade" id="Buscar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Buscar</b></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @clases.each do |actual| %>
        <tr>
          <td><b><%= link_to(actual.nombre, actual) %></b></td>
          <td><%= link_to 'Editar', editar_clase_path(actual), class: "btn btn-info"%>
          <%= link_to 'Borrar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
        </tr>
      <%end%>
    </tbody>
  </table><br><br>
  <%= will_paginate @clases, renderer: BootstrapPagination::Rails %>
</div>