<div class="container">
  <h1><b><%= "Clases" %></b></h1>
  <span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nueva Clase',nueva_clase_path %></span>  
  <a href="#Buscar" class="btn btn-default btn-lg" data-toggle="modal">Buscar</a>
  <div class="modal fade" id="Buscar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Buscar</b></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <% @clases.each do |actual| %>
        <tr>
          <td><b><%= link_to(actual.nombre, actual) %></b></td>
          <td><%= link_to 'Editar', editar_clase_path(actual), class: "btn btn-info"%></td>
          <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
        </tr>
      <%end%>
    </tbody>
  </table><br><br>
  <%= will_paginate @clases, renderer: BootstrapPagination::Rails %>
</div>