<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
  </tr>
  </thead>
  <tbody>
  <% @clases.each do |actual| %>
      <tr>
        <td><%= actual.nombre %></td>
        <td><%= link_to 'Mostrar', clase_url(actual), class: "btn btn-default"%></td>
        <td> <%= link_to 'Editar', editar_clase_path(actual), class: "btn btn-default"%></td>
        <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿ESTA SEGURO?'}, class: "btn btn-default"%></td>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
<%= link_to 'NUEVA CLASE', nueva_clase_path, class: "btn btn-default"%>
