<h1><%= @administradors.nombre %></h1><br>
Edad:
<%= @administradors.edad %><br>
Email:
<%= @administradors.email %><br>
Descripcion:
<%= @administradors.desc %><br><br>
Links:<br><br>
<%= link_to "PLANES", Plan, class: "btn btn-default"%> <br><br>
<%= link_to "ALUMNOS", Alumno, class: "btn btn-default"%> <br><br>
<%= link_to "PROFESORES", Profesor, class: "btn btn-default"%> <br><br>
<%= link_to "CLASES", Clase, class: "btn btn-default"%><br><br>
<%= link_to "REGRESAR", Administrador, class: "btn btn-default"%><br><br>
