<h1><%= @administradors.nombre %></h1><br>
Edad:
<%= @administradors.edad %><br>
Email:
<%= @administradors.email %><br>
Descripcion:
<%= @administradors.desc %><br><br>
Links:<br><br>
<%= link_to "PLANES", Plan %> <br><br>
<%= link_to "ALUMNOS", Alumno %> <br><br>
<%= link_to "PROFESORES", Profesor %> <br><br>
<%= link_to "REGRESAR", :back %>
