<div class="container">
  <h1><b><%= "Usuarios" %></b></h1>
  <h4><b><p class="text-info"> Instrucciones: </p></b></h4>
  <h5>
    <b><p class="text-success"> 1.- Para 'Borrar' un usuario, presionar sobre el boton 'Borrar' </p></b>
    <b><p class="text-success"> 2.- Para 'Crear' un nuevo usuario, presionar sobre el boton 'Nuevo Usuario' </p></b>
  </h5>
  <span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nuevo Usuario',"/register" %></span>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Rol</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |actual| %>
        <tr>
          <td><b><%= actual.nombre %></b></td>
          <td><b><%= actual.rut %></b></td>
          <td><b><%= actual.edad %></b></td>
          <td><b><%= actual.sexo %></b></td>
          <td><b><%= actual.role %></b></td>
          <td><b><%= actual.email %></b></td>
          <% if current_user.email == 'christian.lopez@alumnos.uda.cl'%>
            <% if actual.email != 'christian.lopez@alumnos.uda.cl'%>
              <td><%= link_to 'Borrar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
           <% end %>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table><br><br>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>