<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		<h1><b><%= @users.nombre %></b></h1>
      </div>
      <big><b>
      <div class="panel-body">
        RUT: 
        <%= @users.rut %>
      </div>
      <div class="panel-body">
      	Sexo:  
      	<%= @users.sexo %>
      </div>
      <div class="panel-body">
        Edad: 
        <%= @users.edad %>
        Años
      </div>
      <div class="panel-body">
        Rol: 
        <%= @users.role %>
      </div>
      <div class="panel-body">
        Observacion: 
        <%= @users.observacion %>
      </div>
      <#div class="panel-body">
      	<% #Plan: %> 
      	<% #@users.plan.nombre %>
      <#/div>
      </b></big>
    </div>
  </div>
</div>

<%= link_to "REGRESAR", User, class: "btn btn-primary" %>
