<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>  
  <div class="container">
    <h2><b>Cambia Tu Contraseña</h2>
    <div class="panel-group">
      <div class="panel-group">
        <%= f.hidden_field :reset_password_token %>
      </div>        
      <div class="panel-group">
        <%= "Nueva Contraseña:" %></b>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> minimo de caracteres)</em><br>
        <% end %>
        <i><%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "********" %></i>
      </div>
      <div class="panel-group">
        <%= "Confirmar Nueva Contraseña:" %></b>
        <i><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "********" %></i>
      </div>
      <div class="actions">
        <%= f.submit "Cambiar", class: "btn btn-success" %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>