<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>  
  	<div class="container">
    	<h2><b>¿Olvidaste tu contraseña?</h2>
    	<h4><%= "Ingresa Tu Email Para Enviar Las Instrucciones De Restablecimiento" %><br></h4>
    	<div class="panel-group">  
      		<div class="panel-group">
        		<%= "Email:" %></b>
        		<i><%= f.email_field :email, autofocus: true, placeholder: "ejemplo@ejemplo.cl" %></i>
      		</div>
      		<div class="actions">
        		<%= f.submit "Enviar", class: "btn btn-success" %>
      		</div>
    	</div>
    	<%= render "devise/shared/links" %>
  	</div>
<% end %>