<!DOCTYPE html>
<html>
	<body>
		<div class= "center">
	    	<center><h1>Gimnasio Funcionality Chris</h1>
		<div id="contenedor">
    		<div id="myCarousel" class="carousel slide">
      			<ol class="carousel-indicators">
        			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        			<li data-target="#myCarousel" data-slide-to="1"></li>
        			<li data-target="#myCarousel" data-slide-to="2"></li>
        			<li data-target="#myCarousel" data-slide-to="3"></li>
      			</ol>
      			<!-- Carousel items -->
      			<div class="carousel-inner">
        			<div class="active item"><img src="<%= asset_path 'verdenegro.jpg' %>" alt="Gym" width="350" height="350"/></div>
        			<div class="item"><img src="<%= asset_path 'gym.jpg' %>" alt="Logo" width="650" height="550"/></div>
        			<div class="item"><img src="<%= asset_path 'g1.jpg' %>" alt="Logo" width="650" height="550"/></div>
        			<div class="item"><img src="<%= asset_path 'g2.jpg' %>" alt="Logo" width="450" height="350"/></div>
      			</div>
      			<!-- Carousel nav -->
      			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    		</div>
		</div>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script>
    		$(document).ready(function(){
        	$('.myCarousel').carousel()
    		});
		</script>
		<script>
    		$(document).ready(function(){
        	$('.myCarousel').carousel({
            	interval: 3000
        		});
    		});
		</script>
		<div class="col-md-4">
    		<div class="thumbnail">
      			<a href="https://www.facebook.com/Funcionality-Gymm-824423997702783/">
        		<img src="<%= asset_path 'fb.jpg' %>" alt="Nature" style="width:10%">
      			</a>
    		</div>
  		</div>
  		<div class="col-md-4">
    		<div class="thumbnail">
        		<img src="<%= asset_path 'ws.jpg' %>" alt="Nature" style="width:10%">+569 734 64 561
      			</a>
    		</div>
  		</div>
	</body>
</center>
