<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1><b><%= current_user.nombre %></b></h1>
        <h3><b><%= current_user.rut %></b></h3>
      </div>
      <div class="panel-body">
        <a href="#Horarios" class="btn btn-info btn-lg" data-toggle="modal">Horarios</a>
        <div class="modal fade" id="Horarios">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title"><b><p class="text-info"> Horario Funcionamiento Gimnasio: </p></b></h1>
                <h4><b>
                  <p class="text-success">Lunes a Viernes: 09:00-13:00 hrs y 16:00-23:00 hrs</p>
                  <p class="text-success">Sabados: 10:00-14:00 hrs</p>
                  <p class="text-danger">Domingos y Festivos: Cerrado</p>
                </h4></b>
                <div class="modal-footer">
                  <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#Clases" class="btn btn-success btn-lg" data-toggle="modal">Clases</a>
        <div class="modal fade" id="Clases">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title"><b><p class="text-danger">Inscrito Para Clases De: </p></b></h1>
                <h4><b>
                  <% pln = 0 %>
                  <% @alumnos.each do |alum| %>
                    <% if alum.rut == current_user.rut %>
                      <% pln = alum.plan_id.to_i %>
                    <% end %>
                  <% end %>
                  <% @clases.each do |xlass| %>
                    <% if xlass.plan_id == pln %>
                      <h2><p class="text-primary"><%= xlass.nombre %><%= " - " %><%= xlass.desc %></p></h2>
                    <% end %>
                  <% end %>
                  </p>
                </h4></b>
                <div class="modal-footer">
                  <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4><b><%= "Fichas" %></b></h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <% @fichas.each do |actual| %>
                  <tr>
                    <% if actual.rut == current_user.rut %>
                      <td><b><%= actual.created_at.strftime("%d/%m/%Y")%></b></td>
                      <td><%= link_to 'Mostrar', ficha_path(actual), class: "btn btn-success"%></td>
                    <% end %>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <% if current_user.role == 'Alumno' %>
          <div class="col-md-6">
            <h4><b><%= "Pagos" %></b></h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody>
                <% @pagos.each do |actual| %>
                  <tr>
                    <% if actual.rut == current_user.rut %>
                      <td><b><%= actual.created_at.strftime("%d/%m/%Y")%></b></td>
                      <td><b><%= actual.monto %></b></td>
                    <% end %>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>