<%= form_for(@fichas, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container"><big>
    <div class="panel-body">
      <% if @fichas.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @fichas.errors.count == 1 %>
            <h2><%= pluralize(@fichas.errors.count, "Error")%><%= " impide realizar esta acción: "%></h2>
            <ul>
              <% @fichas.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@fichas.errors.count, "Errore")%><%= " impiden realizar esta acción: "%></h2>
            <ul>
              <% @fichas.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <h3><b>Datos</b></h3>
      <div class="panel-body">
        <b><label class="control-label col-xs-2">Rut Alumno/a:</label></b> 
        <i><%= f.text_field :rut, placeholder: "XXXXXXX-X" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-2">Peso:</label>
        <i><%= f.text_field :peso, placeholder: "Ej: 50.5" %></i><b><%= " Kilogramos" %></b>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-2">Estatura:</label>
        <i><%= f.text_field :estatura, placeholder: "Ej: 1.5"%><b></i><%= " Metros" %></b>
      </div>
      <i>**No Es Obligatorio Rellenar Los Siguientes Campos**</i><br>
      <i>**Hacer Click En El Rectangulo Negro Para Mostrar/Ocultar Los Demas Campos**</i><br>
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-inverse p-4">
            <div class="row">
        <div class="col-md-5">
          <h3><b>Piegometria</b></h3>
          <div class="panel-body">
            <label class="control-label col-xs-4">Biceps:</label>
            <i><%= f.text_field :biceps, placeholder: "Ej: 20"%></i><b><%= " Centimetros" %></b>
          </div>
          <div class="panel-body">
            <label class="control-label col-xs-4">Triceps:</label>
            <i><%= f.text_field :triceps, placeholder: "Ej: 30"%></i><b><%= " Centimetros" %></b>
          </div>
          <div class="panel-body">
            <label class="control-label col-xs-4">Subescapular:</label>
            <i><%= f.text_field :subescapular, placeholder: "Ej: 10"%></i><b><%= " Centimetros" %></b>
          </div>
          <div class="panel-body">
            <label class="control-label col-xs-4">Suprailiaco:</label>
            <i><%= f.text_field :suprailiaco, placeholder: "Ej: 30"%></i><b><%= " Centimetros" %></b>
          </div>
        </div>
        <div class="col-md-5">
          <h3><b>Antropometria</b></h3>
          <div class="panel-body">
            <label class="control-label col-xs-3">Torax:</label>
            <i><%= f.text_field :torax, placeholder: "Ej: 90"%></i><b><%= " Centimetros" %></b>
          </div>
          <div class="panel-body">
            <label class="control-label col-xs-3">Cintura:</label>
            <i><%= f.text_field :cintura, placeholder: "Ej: 100"%></i><b><%= " Centimetros" %></b>
          </div>
          <div class="panel-body">
            <label class="control-label col-xs-3">Brazo:</label>
            <i><%= f.text_field :brazo, placeholder: "Ej: 20"%></i><b><%= " Centimetros" %></b>
          </div>
          <div class="panel-body">
            <label class="control-label col-xs-3">Muslo:</label>
            <i><%= f.text_field :muslo, placeholder: "Ej: 40"%></i><b><%= " Centimetros" %></b>
          </div>
        </div>
      </div>
          </div>
        </div>
        <nav class="navbar navbar-light bg-inverse">
          <button class="navbar-inverse" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div><br>
      <%= f.submit value="Guardar", class: "btn btn-success"%>
      <input type="reset" class="btn btn-default" value="Limpiar">
      <%= link_to "Volver", Ficha, class: "btn btn-primary"%>
    </div>
  </div><br><br>
<% end %>