<%= form_for(@fichas, :html =>{:role => 'form'}) do |f| %>
  <% if @fichas.errors.any? %>
    <%= pluralize(@fichas.errors.count, "Error")%>
    <% @fichas.errors.full_messages.each do |actual| %>
        <%= actual %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="form-group">
      <big><b>
      <h3>Datos</h3>
      <div class="panel-body">
        <label class="control-label col-xs-3">Alumno:</label></b>
        <i><%=f.collection_select :alumno_id, Alumno.order("Nombre"), :id, :nombre, include_blank: true %></i><br>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-3">Peso:</label></b>
        <i><%= f.text_field :peso, placeholder: "En Kilogramos Ej: 50.5" %></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Estatura:</label></b>
        <i><%= f.text_field :estatura, placeholder: "En Metros Ej: 1.5"%></i><br>
      </div><b><br>
      </b><i>**No Es Obligatorio Rellenar Los Siguientes Campos**</i><b><br>
      <h3>Piegometria</h3>
      <div class="panel-body">
        <label class="control-label col-xs-3">Biceps:</label></b>
        <i><%= f.text_field :biceps, placeholder: "En Centimetros Ej: 20"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Triceps:</label></b>
        <i><%= f.text_field :triceps, placeholder: "En Centimetros Ej: 30"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Subescapular:</label></b>
        <i><%= f.text_field :subescapular, placeholder: "En Centimetros Ej: 10"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Suprailiaco:</label></b>
        <i><%= f.text_field :suprailiaco, placeholder: "En Centimetros Ej: 30"%></i><br>
      </div><b>
      <h3>Antropometria</h3>
      <div class="panel-body">
        <label class="control-label col-xs-3">Torax:</label></b>
        <i><%= f.text_field :torax, placeholder: "En Centimetros Ej: 90"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Cintura:</label></b>
        <i><%= f.text_field :cintura, placeholder: "En Centimetros Ej: 100"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Brazo:</label></b>
        <i><%= f.text_field :brazo, placeholder: "En Centimetros Ej: 20"%></i><br>
      </div><b>
      <div class="panel-body">
        <label class="control-label col-xs-3">Muslo:</label></b>
        <i><%= f.text_field :muslo, placeholder: "En Centimetros Ej: 40"%></i><br>
      </div><b>
      </big>
    </div>
    <%= f.submit value="Agregar", class: "btn btn-success"%>
    <input type="reset" class="btn btn-default" value="Limpiar">
    <%= link_to "Volver", Ficha, class: "btn btn-primary"%>
  </div><br><br>
<% end %>