<div class="container">
  <h1><b><%= "Fichas" %></b></h1>
  <h4><%= "Instrucciones:" %></h4>
  <h5>
    <%= "1.- Para 'Ver' una ficha en detalle, presionar sobre el nombre de el/la alumno/a" %><br>
    <%= "2.- Para 'Editar' la informacion de una ficha, presionar sobre el boton 'Editar'" %><br>
    <%= "3.- Para 'Borrar' una ficha, presionar sobre el boton 'Eliminar'" %><br>
    <%= "4.- Para 'Crear' una nueva ficha, presionar sobre el boton 'Nueva ficha'" %>
  </h5>
  <span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nueva Ficha',nueva_ficha_path %></span>  
  <!-- boton buscar aun no configurado
  <a href="#Buscar" class="btn btn-default btn-lg" data-toggle="modal">Buscar</a>
  <div class="modal fade" id="Buscar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Buscar</b></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <table class="table">
    <thead>
      <tr>
        <th>Nombre Alumno/a</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% @fichas.each do |actual| %>
        <tr>
          <td><b><%= link_to(actual.alumno.nombre, actual) %></b></td>
          <td><b><%= actual.created_at.strftime("%d")%></b></td>
          <td><%= link_to 'Editar', editar_ficha_path(actual), class: "btn btn-info"%></td>
          <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <br><br>
  <%= will_paginate @fichas, renderer: BootstrapPagination::Rails %>
</div>