<%= form_for(@plans, :html =>{:role => 'form'}) do |f| %>
    <% if @plans.errors.any? %>
        <%= pluralize(@plans.errors.count, "ERROR")%>
        <% @plans.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="container">
      <div class="panel-group">
      <big><b>
        <div class="panel-body">
          NOMBRE: 
          <%= f.text_field :nombre %><br>
        </div>
        <div class="panel-body">
          PRECIO:
          <%= f.select :precio, [["5000"],["10000"],["15000"],["18000"],["20000"],["30000"]]%><br>
        </div>
        <%= f.submit value="AGREGAR", class: "btn btn-success"%>
        <%= link_to "REGRESAR", Plan, class: "btn btn-primary"%>
      </b>
      </big>
    </div>
<% end %>