<%= form_for(@plans, :html =>{:class => 'panel-body'}) do |f| %>
  <div class="container"><big>
    <div class="panel-body">
      <% if @plans.errors.any? %>
        <div class="alert fade in alert-error">
          <% if @plans.errors.count == 1 %>
            <h2><%= pluralize(@plans.errors.count, "Error")%><%= " impide realizar esta acci贸n: "%></h2>
            <ul>
              <% @plans.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% else %>
            <h2><%= pluralize(@plans.errors.count, "Errore")%><%= " impiden realizar esta acci贸n: "%></h2>
            <ul>
              <% @plans.errors.full_messages.each do |actual| %>
                <li><%= actual %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <div class="panel-body">
        <label class="control-label col-xs-2"><b><%= "Nombre: " %></b></label> 
        <i><%= f.text_field :nombre, placeholder: "Nombre del Plan" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-2"><b><%= "Precio: " %></b></label>
        <i><%= f.text_field :precio, placeholder: "Ejemplo: 1000" %></i>
      </div>
      <div class="panel-body">
        <label class="control-label col-xs-2"><b><%= "Descripci贸n: " %></b></label>
        <i><%= f.text_area :desc, size: "30x6", placeholder: "Descripci贸n" %></i>
      </div><big>
    </div>
    <%= f.submit value="Agregar", class: "btn btn-success"%>
    <input type="reset" class="btn btn-default" value="Limpiar">
    <%= link_to "Volver", Plan, class: "btn btn-primary"%><br><br>
  </div>
<% end %>