<%= form_for(@plans, :html =>{:role => 'form'}) do |f| %>
    <% if @plans.errors.any? %>
        <%= pluralize(@plans.errors.count, "ERROR")%>
        <% @plans.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <div class="field">
      <b><%= "Nombre: "%></b>
      <%= f.text_field :nombre %><br><br>
    </div>
    <div class="field">
      <b><%= "Precio: "%></b>
      <%= f.select :precio, [["5000"],["10000"],["15000"],["18000"],["20000"],["30000"]]%><br><br>
    </div>
    <%= f.submit value="AGREGAR", class: "btn btn-success"%>
    <%= link_to "REGRESAR", Plan, class: "btn btn-primary"%>
<% end %>
