<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
  </tr>
  </thead>
  <tbody>
  <% @plans.each do |actual| %>
      <tr>
        <td><%= actual.nombre %></td>
        <td><%= link_to 'Mostrar', plan_url(actual) %></td>
        <td> <%= link_to 'Editar', editar_plan_path(actual) %></td>
        <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿ESTA SEGURO?'} %></td>
      </tr>
  </tbody>
  <%end%>
</table>
<br><br>
<%= link_to 'NUEVO PLAN', nuevo_plan_path %>
