<div class="container">
  <h1><b><%= "Planes" %></b></h1>
  <h4><%= "Instrucciones:" %></h4>
  <h5>
    <%= "1.- Para 'Ver' planes en detalle, presionar sobre el nombre del plan" %><br>
    <%= "2.- Para 'Editar' un plan, presionar sobre el boton 'Editar'" %><br>
    <%= "3.- Para 'Borrar' un plan, presionar sobre el boton 'Eliminar'" %><br>
    <%= "4.- Para 'Crear' un nuevo plan, presionar sobre el boton 'Nuevo Plan'" %><br>
    <%= "**Si el plan contiene alumnos/as inscritos, este no se podra eliminar. Primero hablar con los alumnos/as para cambiarlos de plan**" %>
  </h5>
  <span class="tn btn-warning btn-lg bt pull-leght glyphicon glyphicon-plus"><%= link_to 'Nuevo Plan',nuevo_plan_path %></span><br>
  <!-- boton buscar aun no configurado
  <a href="#Buscar" class="btn btn-default btn-lg" data-toggle="modal">Buscar</a>
  <div class="modal fade" id="Buscar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"><b>Buscar</b></h2>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |actual| %>
        <tr>
          <td><b><%= link_to(actual.nombre, actual) %></b></td>
          <td><b><%= actual.precio %></b></td>
          <td> <%= link_to 'Editar', editar_plan_path(actual), class: "btn btn-info"%></td>
          <% cant = 0 %>
          <% @alumnos.each do |x|%>
            <% if x.plan.nombre == actual.nombre %>
              <% cant = cant + 1 %>
            <% end %>
          <% end %>
          <% if cant == 0 %>
            <td><%= link_to 'Eliminar', actual, method: :delete, data: {confirm: '¿Está Seguro?'}, class: "btn btn-danger"%></td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= will_paginate @plans, renderer: BootstrapPagination::Rails %>
</div>