<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		  <h1><b><%= @plans.nombre %></b></h1>
      </div>
      <div class="panel-body"><big>
        <div class="row">
          <div class="col-md-4">
            <div class="panel-body">
      	      <b><%= "Precio: " %></b> 
      	      <i><%= @plans.precio %></i>
            </div>
            <div class="panel-body">
              <b><%= "Descripción: " %></b><br> 
              <i><%= @plans.desc %></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel-body">
              <b><%= "Clase/s: " %></b><br> 
              <% @clases.each do |actual| %>
                <% if actual.plan_id == @plans.id %>
                  <%= actual.nombre %>
                  <% @users.each do |usuario| %>
                    <% if usuario.id == actual.user_id %>  
                      <%= " - " %><%= usuario.nombre %>
                    <% end %>
                  <% end %><br>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div></big>
    </div>
  </div>
  <%= link_to "Volver", Plan, class: "btn btn-primary" %>
</div>
