<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><big><b>
        <h1>Planes</h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead><tr>
            <th>Nombre/s</th>
            <th>Horario/Descripción</th>
            <th>Precio</th>
          </tr></thead>
          <tbody>
            <% @plans.each do |actual| %><tr>
              <td><b><%= actual.nombre %></b></td>
              <td><b><%= actual.desc %></b></td>
              <td><b><%= actual.precio %> Pesos Mensuales</b></td>
            </tr><%end%>
          </tbody>
        </table>      
      </div>
      <div class="panel-heading">
        <h1>Clases</h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead><tr>
            <th>Nombre/s</th>
            <th>Descripción</th>
          </tr></thead>
          <tbody>
            <% @clases.each do |actual| %><tr>
              <td><b><%= actual.nombre %></b></td>
              <td><b><%= actual.desc %></b></td>
            </tr><%end%>
          </tbody>
        </table></b></big>    
      </div>
    </div>
  </div>
</div>