<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="container">
    <h2><b>Iniciar Sesión</b></h2>
    <div class="panel-group">
    <big><b> 
      <div class="panel-group">
        <%= f.label :email, "Email" %><br />
        <%= f.email_field :email, autofocus: true %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>En Espera De Confirmacion De: 
        <%= resource.unconfirmed_email %>
      </div>
    <% end %>
    <div class="panel-group">
      <%= f.label :password, "Contraseña" %> <i>(Dejar En Blanco Si No Desea Cambiarlo)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="panel-group">
      <%= f.label :password_confirmation, "Confirmar Contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="panel-group">
      <%= f.label :current_password , "Contraseña Actual"%> <i>(Necesitamos Su Contraseña Actual Para Confirmar Sus Cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "Actualizar", class: "btn btn-success" %><br><br>
    </div>
    </b></big>
  </div>
<% end %>
<div class="container">
    <h3><b>Desactivar Cuenta</b></h3>
    <div class="panel-group">
    <big><b>
    <p>Desactivar Tu Cuenta Significa: Que No Podrás Volver a Ingresar Como Empleado. ¿Estás Seguro?</p> 
    <%= link_to "Eiminar", registration_path(resource_name), data: { confirm: "¿Está seguro?" }, method: :delete, class: "btn btn-danger" %>

<%= link_to "Volver", :back, class: "btn btn-primary" %>
